.hero__text-container {
  padding-top: 125px;
  padding-bottom: 290px;
  @include media-tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.hero__heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 38px;
  font-weight: 500;
}