@font-face {
  font-family: OpenSans;
  font-display: swap;
  font-weight: 300;
  src: url("fonts/OpenSans-Light.woff2") format('woff2');
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  font-weight: 400;
  src: url("fonts/OpenSans-Regular.woff2") format('woff2');
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  font-weight: 500;
  src: url("fonts/OpenSans-Medium.woff2") format('woff2');
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  font-weight: 700;
  src: url("fonts/OpenSans-Bold.woff2") format('woff2');
}

.container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1200px) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

body {
  font-family: OpenSans, sans-serif;
}

.text--white {
  color: #ffffff;
}


.heading {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  @media (max-width: 1200px) {
    font-size: 30px;
  }
}

.heading--white {
  color: #ffffff;
}

.heading--purple {
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  color: transparent;
}

.gradient-wrapper {
  //@include background-right-corner-red;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}

.link--white {
  color: #ffffff;
}

.subheading--blue {
  color: #24A3FF;
}

.top-link--blue {
  color: #24A3FF;
}

.link--blue {
  color: rgba(36, 163, 255, 1);
}

.link--dark-blue {
  color: #323264;
}

.top-link--grey {
  color: #FFFFFF;
  opacity: 0.5;
}

.top-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.paragraph {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.4;
  @media (max-width: 1200px) {
    font-size: 16px;
  }
}

.text--grey {
  color: #B3B3BA;
}

.text--purple {
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  background-clip: text;
  color: transparent;
}

.heading--grey {
  color: #B3B3BA;
}

.heading:active {
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  background-clip: text;
  color: transparent;
}

.subheading--blue {
  color: #24A3FF;
}

.paragraph--blue {
  color: #24A3FF;
}


.title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  color: #323264;
  text-transform: uppercase;
}

.title--center {
  text-align: center;
}

.heading--center {
  text-align: center;
}

.logo__text {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: rgba(70, 70, 110, 1);

}

.logo-text-color {
  color: #323264;
}

.gray-blue-text-color {
  color: rgba(50, 50, 100, 1);
}

.slash-icon {
  width: 21px;
  height: 47px;
  @media (max-width: 1200px) {
    height: 25px;
  }
}

.p-icon {
  height: 47px;
  width: 42px;
  @media (max-width: 1200px) {
    height: 25px;
  }
}

.header__container {
  @media(max-width: 600px) {
    display: flex;
    flex-direction: column;
  };
}

.header__icon-wrapper {
  display: flex;
  flex-direction: column;
}

.header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bottom-text-wrapper {
  display: flex;
  align-items: flex-start;
  @media (max-width: 1200px) {
    margin-top: 30px;
  }
}

.header__page-title {
  font-size: 38px;
  font-weight: 400;
  line-height: 1.2;
  @media (max-width: 1200px) {
    height: 25px;
    font-size: 19px;
    font-weight: 400;
  }
}

.logo {
  font-size: 45px;
  font-weight: 400;
  line-height: 1.2;
  @media (max-width: 1200px) {
    height: 25px;
    font-size: 19px;
    font-weight: 400;
  }
}

.logo:first-letter {
  color: rgba(240, 20, 90, 1);
}


.header__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  @media (max-width: 1200px) {
    font-size: 12px;
  }
}

.header__address {
  @media(max-width: 600px) {
    display: none;
  }
}

.header__facebook-link {
  @media(max-width: 600px) {
    display: none;
  }
}

.languages__wrapper {
  @media (max-width: 1200px) {
    display: flex;
    gap: 15px;
  }
}

.header__lang {
  @media (max-width: 1200px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.header__navmenu-wrapper {
  width: 400px;
}

.header__navigation {
  width:300px;
  @media (max-width: 800px) {
    width: 75%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
}

.header__item {
  width: 100%;
  @media (max-width: 800px) {
    width: 20%;
  }
}

.header__list {
  width:100%;
  @media (max-width: 800px) {
    width: 75%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
