@font-face {
  font-family: OpenSans;
  font-display: swap;
  font-weight: 300;
  src: url("fonts/OpenSans-Light.woff2") format('woff2');
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  font-weight: 400;
  src: url("fonts/OpenSans-Regular.woff2") format('woff2');
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  font-weight: 500;
  src: url("fonts/OpenSans-Medium.woff2") format('woff2');
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  font-weight: 700;
  src: url("fonts/OpenSans-Bold.woff2") format('woff2');
}

.container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: OpenSans, sans-serif;
}

.text--white {
  color: #ffffff;
}

.heading--white {
  color: #ffffff;
}

.heading--purple {
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  color: transparent;
}

.gradient-wrapper {
  //@include background-right-corner-red;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}

.link--white {
  color: #ffffff;
}

.subheading--blue {
  color: #24A3FF;
}

.top-link--blue {
  color: #24A3FF;
}

.text--grey {
  color: #B3B3BA;
}

.heading--grey {
  color: #B3B3BA;
}

.heading:active {
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  background-clip: text;
  color: transparent;
}