.team {
  padding-top: 60px;
  padding-bottom: 40px;
}

.team__container {
  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
}

.team__gallery-wrapper {
  display: flex;
  gap: 40px;
  background-color: #F5F5FA;
  border-radius: 12px;
}

.team__image {
  @media (max-width: 1200px) {
    height: 70px;
    border-radius: 50%;
  }
}

.team__text-wrapper {
  margin-top: 40px;
}

.team__top-link {
  margin-bottom: 20px;
}

.team__heading {
  margin-bottom: 20px;
}

.team__name {
  margin-bottom: 10px;
}
