.team-hero {
  padding-top: 80px;
  padding-bottom: 80px;
  @media (max-width: 1200px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media (max-width: 600px) {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}


.team-hero__heading {
  margin-bottom: 80px;
  text-align: left;
}

.team-hero__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-hero__text-wrapper {
  margin-top: 20px;
  @include flex-center;
}

.team-hero__item {
  width: 420px;
  @media (max-width: 1200px) {
    width: 90%;
  }
}

.team-hero__image {
  border-radius: 12px;
  width: 100%;
}