.partners {
  padding-top: 10px;
  padding-bottom: 40px;
}

.partners__title {
  margin-bottom: 30px;
}

.partners__images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}