.about__hero-container {
  @include flex-center;
}

.about__hero-text-wrapper {
  width: 650px;
}

.hero__number {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
}

.hero__icon-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;

}

.hero__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero__item {
  width: 400px;
}

.hero__icon {
  height: 25px;

}

.about-hero {
  padding-bottom: 100px;
}

.about__hero-heading {
  margin-bottom: 20px;
}