.achievement {
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #F5F5FA;
}

.achievement__heading {
  margin-bottom: 30px;
}

.achievement-gallery-wrapper {
  display: flex;
  gap: 40px;
}