.achievement {
  background-color: #F5F5FA;
  border-radius: 12px 12px 0px 0px;
  padding-top: 30px;
  padding-bottom: 80px;
  border-bottom: 4px solid #E6E6F0;
}

.achievement__heading {
  margin-bottom: 30px;
}

